<div class="dates-wrapper group">

  <div class="field clearfix date-range-start date-wrapper">
    <div class="label">
      <label for="datepicker-start">Start:</label>
    </div>
    <div class="input">
      <input type="date" name="experience-start" id="datepicker-start" class="input-text" placeholder="dd/mm/yyyy">
    </div>
    <a href="#" class="calendar-btn calendar-start hide-text">View calendar</a>
  </div>

  <div class="field clearfix date-range-start date-wrapper">
    <div class="label">
      <label for="datepicker-end">End:</label>
    </div>
    <div class="input">
      <input type="date" name="experience-end" id="datepicker-end" class="input-text" placeholder="dd/mm/yyyy">
    </div>
    <a href="#" class="calendar-btn hide-text">View calendar</a>
  </div>

</div>
